- list comprehensions means writing a list operations on a single line
- when we use for loop and comnditional stms,the processing time increases
- list comprehensions reduce the processing time
- very important concept

**case-1 only for loop**

In [7]:
l=[]
for i in range(10):
    l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

l=[<write ur code>]
l=[<output> <forloop>] #noneed of using append,:
#here output variable is i
#for loop:for i in range(10)

In [13]:
l=[i for i in range (10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
#input=['hyd','bengaluru','mumbai','chennai']
#output=['Hyd','Bengaluru','Mumbai','Chennai']

input=['hyd','bengaluru','mumbai','chennai']
output=[]
for i in input:
    output.append(i.capitalize())
output

['Hyd', 'Bengaluru', 'Mumbai', 'Chennai']

In [37]:
#input=['hyd','bengaluru','mumbai','chennai']
out=[i.capitalize() for i in input]
out

['Hyd', 'Bengaluru', 'Mumbai', 'Chennai']

In [19]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [128]:
#input=['hyd','bengaluru','mumbai','chennai']
#output=['HYD,'BENGALURU','MUMBAI','CHENNAI']
l1=['hyd','bengaluru','mumbai','chennai']
out=[i.upper() for i in l1]
out

['HYD', 'BENGALURU', 'MUMBAI', 'CHENNAI']

In [47]:
#3input=['hyd','bengaluru','mumbai','chennai']
input=['hyd','bengaluru','mumbai','chennai']
for i in input:
    print(input.index(i)*10)
    
output=[input.index(i)*10 for i in input]
sum(output)

0
10
20
30

60

**valrus operator**

In [60]:
#4sum of first natural numbers
summ=0
for i in range(1,11):
    summ=summ+i
print(summ)

55

In [56]:
summ=0
[summ:=summ+i for i in range(1,11)][-1]

55

**case-2:for loop and if**

In [ ]:
case1:[<output> <for loop>]
case-2[<output> <for loop> <if condn>]

In [74]:
#5input=['hyd','bengaluru','mumbai','chennai']
#output=['beng#aluru','chen#nai']

l1=['hyd','beng#aluru','mumbai','chen#nai']
for i in l1:
    if'#' in i:
        print(i)

l1=['hyd','beng#aluru','mumbai','chen#nai']
l2=[i for i in l1 if '#' in i]

beng#aluru
chen#nai

In [80]:
#6
l1=['hyd','beng#aluru','mumbai','chen#nai']
[i for i in l1 if '#' not in i]

['hyd', 'mumbai']

**case-3:for loop ,if condn ,else condn**

In [ ]:
case-3:[<if out> <if condn> else <else output><for loop>]

In [91]:
#implementing even n odd output
output=[]
for i in range(1,11):
    if i%2==0:
        output.append(f'{i}:even')
    else:
        output.append(f'{i}:odd')
output

['1:odd',
 '2:even',
 '3:odd',
 '4:even',
 '5:odd',
 '6:even',
 '7:odd',
 '8:even',
 '9:odd',
 '10:even']

In [97]:
[f'{i}:even' if i%2==0\
 else f'{i}:odd'\
 for i in range(1,11)]

['1:odd',
 '2:even',
 '3:odd',
 '4:even',
 '5:odd',
 '6:even',
 '7:odd',
 '8:even',
 '9:odd',
 '10:even']

**case-4:for-if-elif-else**

-there is no elif concept in list comprehensions
- elif will be written as else+if
- elif condn and elif output:else ,if condn ,output

In [ ]:
case-4:[<if out> <if condn>else <if out><if condn>else<else out><for loop>]

In [114]:
#implementing the grade problem
#'45: d grade'
input=[20,40,60,90]
for n in input:
    if n>90:
        print(f'{n}:distinction')
    elif n>50:
        print(f'{n}: A grade')
    else:
        print(f'{n}:D grade')

20:D grade
40:D grade
60: A grade
90: A grade

In [120]:
input=[20,40,60,90]
[f'{i}:A grade' if n>=90\
 else f'{i}: B grade' if n>=50\
 else f'{i}:C grade' for i in input]

['20:A grade', '40:A grade', '60:A grade', '90:A grade']

In [134]:
#a
input=[45,76,89,53,67,90,82,49,33,99]
l1=[]
for i in input:
    if i>=50:
        l1.append(i)
l1
[i for i in input if i>=50]

[76, 89, 53, 67, 90, 82, 99]

In [184]:
#b
input=[45,76,89,53,67,90,82,49,33,99]
for i in input:
    if i>=85:
        print(f'{i}:A grade')
    elif 70>i>84:
        print(f'{i}: B grade')
    elif 50>i>69:
        print(f'{i}: C grade')
    else:
        print(f'{i}:F grade')


[f'{i}:A grade' if i>=85\
 else f'{i}: B grade' if 70>i>84\
 else f'{i}: C grade' if 50>i>69\
 else f'{i}: f grade' for i in input]

45:F grade
76:F grade
89:A grade
53:F grade
67:F grade
90:A grade
82:F grade
49:F grade
33:F grade
99:A grade

['45: f grade',
 '76: f grade',
 '89:A grade',
 '53: f grade',
 '67: f grade',
 '90:A grade',
 '82: f grade',
 '49: f grade',
 '33: f grade',
 '99:A grade']

In [206]:
#c adding 5 marks who r less than 50
input=[45,76,89,53,67,90,82,49,33,99]
out=[]
for i in input:
    if i<50:
        out.append(i+5)
print(out)



input=[45,76,89,53,67,90,82,49,33,99]
out=[]
[i+5 for i in input if i<50]

[50, 54, 38]

[50, 54, 38]

In [234]:
#d
scores = [45, 76, 89, 53, 67, 90, 82, 49, 33, 99]
[f'Top scores:', topscores:=sorted(scores,reverse=True)[:3]]

['Top scores:', [99, 90, 89]]

In [278]:
#e avg of marks
scores = [45, 76, 89, 53, 67, 90, 82, 49, 33, 99]
for i in scores:
    avg=sum(scores)/len(scores)
avg


[f'avg marks:{(avg:=sum(scores)/len(scores))}']

['avg marks:68.3']