In [13]:
names=['ramesh','suresh','mahesh']
age=[20,22,24]
for i in range(len(names)):
    #print(names[i],age[i])         or
    print(f'{names[i]} age is:{age[i]}')

ramesh age is:20
suresh age is:22
mahesh age is:24

In [1]:
l1=[10,20,22]
l2=[11,21,23]
#o/p:l=[21,41,45]
l=[]
for i in range(len(l1)):
    l=l1[i]+l2[i]
    print([l])

[21]
[41]
[45]

In [9]:
l1=[10,20,22,32,42]
l2=[11,21,23]
l=[21,41,45,32,42]
out=[]
if len(l1)>len(l2):
    for i in range(len(l1)):
        if i<len(l2):
            out.append(l1[i]+l2[i])
        else:
            out.append(l1[i])
out

[21, 41, 45, 32, 42]

In [5]:
#distance between 2 points
v1=(3,5) #(x1,y1)
v2=(10,20) #(x2,y2)

In [7]:
import numpy as np
x1,y1=v1[0],v1[1]
x2,y2=v2[0],v2[1]
sub1=(x2-x1)
sub2=(y2-y1)
add=np.square(sub1)+np.square(sub2)
np.sqrt(add)

16.55294535724685

In [39]:
#x2-5x+6
a,b,c=1,-5,6

In [43]:
import numpy as np
v1=np.square(b)-4*a*c
v2=np.sqrt(v1)
nr1=-b+v2
nr2=-b-v2
dr=2*a
c=nr1/dr
d=nr2/dr
print(c)
print(d)

4.302775637731995
0.6972243622680054

**zip**

In [46]:
names=['ramesh','suresh','mahesh']
age=[20,22,24]
for i in zip(names,age):
    print(i)

('ramesh', 20)
('suresh', 22)
('mahesh', 24)

In [48]:
names=['ramesh','suresh','mahesh']
age=[20,22,24]
for i,j in zip(names,age):
    print(f'{i} age is :{j}')

ramesh age is :20
suresh age is :22
mahesh age is :24