In [ ]:
- case1:[<output> <forloop>]
- case2:[<if output> <if condn><forloop>]
- case3:[<if output> <if codn> else<else output> <forloop>]
- case4:[<if output> <if codn> else<if output><if condn>else<else out><for loop>]

**lamda functions**
- lamda functions gives an idea to write a function in a single line
- it is also a function
- it also have some arguments n outputs

**pattern-1:function with one arguments**

In [8]:
def mul(a):
    return (a*a)
mul(10)

100

In [ ]:
#syntax
#<function name>=lamda <arg name>:<return output>
#function name=mul
#arg name=a
#return output =a*a

In [14]:
mul=lambda a:a*a
mul(20)

400

In [16]:
def cube(a):
    return(a*a*a)
cube(10)

1000

In [46]:
cube=lambda a: a*a*a
cube(5)

125

**pattern-2:function with two arguments**

In [19]:
def add(a,b):
    return(a+b)
add(10,20)

30

In [ ]:
#syntax:
#<function name>=lamda<arg1>,<arg2>:<return output>

In [31]:
add=lambda a,b:a+b
add(20,30)

50

In [27]:
def avg(a,b,c):
    return((a+b+c)/3)
avg(10,20,30)

20.0

In [35]:
avg=lambda a,b,c:(a+b+c)/3
avg(1,5,7)

4.333333333333333

In [39]:
avg=lambda a,b,c:round((a+b+c)/3,2)
avg(1,5,7)

4.33

**pattern-3:if-else**

In [44]:
#find the greatest number btw 2 numbers
def greater(x,y):
    if x>y:
        return(x)
    else:
        return(y)
greater(10,20)

20

In [ ]:
#syntax
#<fn name>=lamda<arg1>,<arg2>:<if output><if condn>else<else output>

In [48]:
greater=lambda x,y:print(f'{x} is greater') if x>y else (f'{y} is greater')
greater(10,20)

'20 is greater'

In [50]:
#or
greater=lambda x,y:x if x>y else y
greater(100,300)

300

**using lists**

In [53]:
l=['hyd','mumbai','pune','chennai','benguluru']
out=[]
for i in l:
    out.append(i.capitalize())
out

['Hyd', 'Mumbai', 'Pune', 'Chennai', 'Benguluru']

In [55]:
#step-1:
#lambda <variable>:<output>
lambda i:i.capitalize()

In [57]:
#step-2:
#lambda <variable>:<output>,<list>
lambda i:i.capitalize(),l

(<function __main__.<lambda>(i)>,
 ['hyd', 'mumbai', 'pune', 'chennai', 'benguluru'])

**map**

In [64]:
#step-3:
#lambda <variable>:<output>,<list>
l=['hyd','mumbai','pune','chennai','benguluru']
map(lambda i:i.capitalize(),l)

In [66]:
#step-4:
#list(map(lambda <variable>:<output>,<list>))
l=['hyd','mumbai','pune','chennai','benguluru']
list(map(lambda i:i.capitalize(),l))

['Hyd', 'Mumbai', 'Pune', 'Chennai', 'Benguluru']

In [74]:
l=['hyd','mumbai','pune','chennai','benguluru']
list(map(lambda i:i.capitalize(),l))

['Hyd', 'Mumbai', 'Pune', 'Chennai', 'Benguluru']

In [ ]:
#**steps**
lambda i:i.capitalize()
lambda i:i.capitalize(),list
map(lambda i:i.capitalize(),list)
list(map(lambda i:i.capitalize()))

In [84]:
#input=['hyd','bengaluru','mumbai','chennai']
#output=['Hyd','Bengaluru','Mumbai','Chennai']
input=['hyd','bengaluru','mumbai','chennai']
list(map(lambda i:i.capitalize(),input))

['Hyd', 'Bengaluru', 'Mumbai', 'Chennai']

In [88]:
#input=['hyd','bengaluru','mumbai','chennai']
input=['hyd','bengaluru','mumbai','chennai']
list(map(lambda i:i.upper(),input))

['HYD', 'BENGALURU', 'MUMBAI', 'CHENNAI']

In [128]:
l1 = ["hyd","mumbai"]
list(map(lambda i : i*10,range(len(i))))[-1]

80

In [13]:
#input=['hyd','bengaluru','mumbai','chennai']
#sum of all indexes
input=['hyd','bengaluru','mumbai','chennai']
summ=0
list(map(lambda i:summ+i,range(len(input)),0))

TypeError: 'int' object is not iterable

In [132]:
#input=['hyd','beng#aluru','mumbai','chen#nai']
input=['hyd','beng#aluru','mumbai','chen#nai']
list(map(lambda i:'#' in i,input))

[False, True, False, True]

**filter**

-instead of map ,use the filter
- filter extract the true values

In [140]:
#input=['hyd','beng#aluru','mumbai','chen#nai']
input=['hyd','beng#aluru','mumbai','chen#nai']
list(filter(lambda i:'#' in i,input))

['beng#aluru', 'chen#nai']

In [152]:
#method-1
#sum of first 10 natural numbers
summ=0
for i in range(1,11):
    summ=summ+i
print(summ)

55

In [156]:
#method-2:(using walrus operators)
summ=0
[summ:=summ+i for i in range(1,11)][-1]

55

**reduce**
- 'Reduce' is a method in function tools
- it takes list as input
- means sum of list
- if we want to perform math operators like min,max,sum then use reduce

In [15]:
#method-3:**reduce**
import random
random.randint(20,30)
   #or

from random import randint
randint(10,20)

16

In [163]:
from functools import reduce

In [179]:
#lambda summ,i:summ+i
#lambda summ,i:summ+i,list
#reduce(lambda summ,i:summ+i,list)
summ=0  #here default summ=0
list1=[10,20,30,40,50]
reduce(lambda summ,i:summ+i,list1)

150

In [181]:
summ=0
for i in range(1,11):
    summ=summ+i
print(summ)

reduce(lambda summ,i:summ+i,list1)

55

150

In [191]:
list1=[10,20,30,40,50]
reduce(lambda summ,i:summ+i,range(1,11),100)  #setting default sum as 100

155